<div class="modal is-active">
  <div class="modal-background" (click)="onCancel()"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="tabs is-medium is-centered">
        <ul>
          <li [ngClass]="{ 'is-active': track === null }">
            <a>Upload Track</a>
          </li>
          <li [ngClass]="{ 'is-active': track !== null }">
            <a>Upload Track Files</a>
          </li>
        </ul>
      </div>

      <ng-container *ngIf="track === null">
        <div class="file is-boxed is-large is-block">
          <label class="file-label">
            <input
              class="file-input"
              (change)="onAddTrack($event)"
              accept=".vtt"
              type="file"
            />
            <span class="file-cta">
              <span class="file-icon">
                <img
                  width="30"
                  height="30"
                  src="assets/plopdown-logo.svg"
                  alt="Plopdown"
                />
              </span>
              <span class="file-label"> Choose a Plopdown Track... </span>
            </span>
          </label>
        </div>
      </ng-container>

      <ng-container *ngIf="track !== null">
        <div class="table-container">
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th>Filename</th>
                <th class="has-text-right">Upload</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fileRef of fileRefs">
                <th>{{ fileRef }}</th>
                <td>
                  <div
                    [ngClass]="{ 'is-success': getFile(fileInput?.files) }"
                    class="file is-fullwidth is-pulled-right"
                  >
                    <label class="file-label">
                      <input
                        class="file-input"
                        type="file"
                        #fileInput
                        [accept]="getAccept(fileRef)"
                        (change)="onAddFile(fileRef, $event)"
                      />
                      <span class="file-cta">
                        <span class="file-icon">
                          <plopdown-icon
                            *ngIf="getFile(fileInput?.files); else noFileIcon"
                            [path]="mdiFileCheck"
                          ></plopdown-icon>
                          <ng-template #noFileIcon>
                            <plopdown-icon
                              [path]="mdiFileOutline"
                            ></plopdown-icon>
                          </ng-template>
                        </span>
                        <span
                          class="file-label"
                          *ngIf="getFile(fileInput?.files); else noFileLabel"
                        >
                          {{ getFileName(fileInput?.files) }}
                        </span>
                        <ng-template #noFileLabel>
                          <span class="file-label"> Select File... </span>
                        </ng-template>
                      </span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </section>

    <footer class="modal-card-foot buttons is-right">
      <button type="button" class="button" (click)="onCancel()">Cancel</button>
      <button
        type="button"
        class="button is-primary"
        [disabled]="!isValid() || saving"
        (click)="onSave()"
      >
        <ng-container *ngIf="saving">Saving Track...</ng-container>
        <ng-container *ngIf="!saving">Save Track</ng-container>
      </button>
    </footer>
  </div>
</div>
