<section class="section">
  <div class="container">
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child">
          <h2 class="title">Permissions</h2>
          <h3 class="subtitle">
            The websites the Plopdown extension can automatically scan.
          </h3>
        </div>
        <div class="tile is-child">
          <div class="buttons is-right">
            <button class="button is-primary" (click)="refreshPermissions()">
              <plopdown-icon [path]="mdiRefresh"></plopdown-icon>
              <span>Refresh</span>
            </button>
            <button class="button is-success" (click)="addPermission()">
              <plopdown-icon [path]="mdiPlus"></plopdown-icon>
              <span>Manually Create</span>
            </button>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div
          class="tile is-child"
          *ngIf="loadingPermissions$ | async; else loaded"
        >
          <div class="notification is-light is-block has-text-centered">
            <p>Loading...</p>
          </div>
        </div>
        <ng-template #loaded>
          <div
            class="tile is-child"
            *ngIf="permissions$ | async as permissions"
          >
            <div
              class="table-container box is-paddingless"
              *ngIf="permissions.length; else empty"
            >
              <table class="table is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Origin</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let permission of permissions">
                    <td>
                      <strong>{{ permission.name }}</strong>
                    </td>
                    <td>
                      <code>{{ permission.match }}</code>
                    </td>
                    <td>
                      <div class="tags are-medium">
                        <span
                          *ngIf="permission.in_whitelist"
                          class="tag is-success"
                          title="Plopdown can access this webpage."
                          >Ready to Scan</span
                        >
                        <span
                          (click)="authPermission(permission)"
                          *ngIf="!permission.in_whitelist"
                          class="tag is-danger"
                          title="Plopdown cannot access this webpage."
                        >
                          Unauthorized
                        </span>
                      </div>
                    </td>
                    <td>
                      <div class="buttons has-addons is-right">
                        <button
                          (click)="unAuthPermission(permission)"
                          *ngIf="permission.in_whitelist"
                          title="Unauthorize"
                          class="button is-outlined is-dark"
                        >
                          <plopdown-icon
                            [path]="mdiVideoBoxOff"
                          ></plopdown-icon>
                        </button>
                        <button
                          (click)="authPermission(permission)"
                          *ngIf="!permission.in_whitelist"
                          title="Authorize"
                          class="button is-success"
                        >
                          <plopdown-icon [path]="mdiVideoBox"></plopdown-icon>
                        </button>
                        <a
                          *ngIf="
                            getTestPermLink$(permission) | async as testLink
                          "
                          [href]="testLink"
                          target="_blank"
                          title="Test"
                          class="button is-outlined is-dark"
                        >
                          <plopdown-icon [path]="mdiTestTube"></plopdown-icon>
                        </a>
                        <button
                          (click)="editPermission(permission)"
                          title="Edit"
                          class="button is-outlined is-dark"
                        >
                          <plopdown-icon [path]="mdiPencil"></plopdown-icon>
                        </button>
                        <button
                          (click)="removePermission(permission)"
                          title="Remove"
                          class="button is-outlined is-dark"
                        >
                          <plopdown-icon [path]="mdiTrashCan"></plopdown-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #empty>
              <div class="notification is-light is-block has-text-centered">
                <p>You haven't granted permissions to scan any websites.</p>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>

<plopdown-permission-editor
  (cancel)="closeEdit()"
  (save)="addOrUpdatePermission($event)"
  [permission]="editingPermission"
  *ngIf="showEditor"
></plopdown-permission-editor>
