<section class="section">
  <div class="container">
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child">
          <h2 class="title">Permissions</h2>
          <h3 class="subtitle">
            The websites the Plopdown extension can automatically scan.
          </h3>
        </div>
        <div class="tile is-child">
          <div class="buttons is-right">
            <button class="button is-primary" (click)="refreshPermissions()">
              <plopdown-icon [path]="mdiRefresh"></plopdown-icon>
              <span>Refresh</span>
            </button>
            <button class="button is-success" (click)="addPermission()">
              <plopdown-icon [path]="mdiPlus"></plopdown-icon>
              <span>Manually Create</span>
            </button>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        @if (loadingPermissions$ | async) {
        <div class="tile is-child">
          <div class="notification is-light is-block has-text-centered">
            <p>Loading...</p>
          </div>
        </div>
        } @else { @if (permissions$ | async; as permissions) {
        <div class="tile is-child">
          @if (permissions.length) {
          <div class="table-container box is-paddingless">
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Origin</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (permission of permissions; track permission) {
                <tr>
                  <td>
                    <strong>{{ permission.name }}</strong>
                  </td>
                  <td>
                    <code>{{ permission.match }}</code>
                  </td>
                  <td>
                    <div class="tags are-medium">
                      @if (permission.in_whitelist) {
                      <span
                        class="tag is-success"
                        title="Plopdown can access this webpage."
                        >Ready to Scan</span
                      >
                      } @if (!permission.in_whitelist) {
                      <a
                        href="#"
                        (click)="authPermission($event, permission)"
                        class="tag is-danger"
                        title="Plopdown cannot access this webpage."
                      >
                        Unauthorized
                      </a>
                      }
                    </div>
                  </td>
                  <td>
                    <div class="buttons has-addons is-right">
                      @if (permission.in_whitelist) {
                      <button
                        (click)="unAuthPermission(permission)"
                        title="Unauthorize"
                        class="button is-outlined is-dark"
                      >
                        <plopdown-icon [path]="mdiVideoBoxOff"></plopdown-icon>
                      </button>
                      } @if (!permission.in_whitelist) {
                      <button
                        (click)="authPermission($event, permission)"
                        title="Authorize"
                        class="button is-success"
                      >
                        <plopdown-icon [path]="mdiVideoBox"></plopdown-icon>
                      </button>
                      } @if ( getTestPermLink$(permission) | async; as testLink
                      ) {
                      <a
                        [href]="testLink"
                        target="_blank"
                        title="Test"
                        class="button is-outlined is-dark"
                      >
                        <plopdown-icon [path]="mdiTestTube"></plopdown-icon>
                      </a>
                      }
                      <button
                        (click)="editPermission(permission)"
                        title="Edit"
                        class="button is-outlined is-dark"
                      >
                        <plopdown-icon [path]="mdiPencil"></plopdown-icon>
                      </button>
                      <button
                        (click)="removePermission(permission)"
                        title="Remove"
                        class="button is-outlined is-dark"
                      >
                        <plopdown-icon [path]="mdiTrashCan"></plopdown-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          } @else {
          <div class="notification is-light is-block has-text-centered">
            <p>You haven't granted permissions to scan any websites.</p>
          </div>
          }
        </div>
        } }
      </div>
    </div>
  </div>
</section>

@if (showEditor) {
<plopdown-permission-editor
  (cancel)="closeEdit()"
  (save)="addOrUpdatePermission($event)"
  [permission]="editingPermission"
></plopdown-permission-editor>
}
