<section class="section">
  <div class="container">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child has-text-centered">
              <h2 class="title">Welcome to Plopdown! 🎉</h2>
              <h3 class="subtitle">
                Heres all you need to become a Professional Plopdowner:
              </h3>
              <div class="content">
                <!-- Content -->
              </div>
            </article>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article
              class="tile is-child notification is-primary"
              [routerLink]="['/tracks']"
            >
              <h2 class="title">Add a Plopdown Track</h2>
              <h3 class="subtitle">
                Upload, paste a URL, or make one yourself
              </h3>
              <div class="content">
                Plopdown Tracks are special video subtitles with data instead of
                text. They allow precise, custom, and well formed annotations
                with simple/readable JSON encoding.
              </div>
            </article>
          </div>
          <div class="tile is-parent is-vertical">
            <article
              class="tile is-child notification is-success"
              [routerLink]="['/videos']"
            >
              <h2 class="title">Find a Matching Video</h2>
              <h3 class="subtitle">Any hosting website will do!</h3>
              <div class="content">
                Use the plopdown extension button to scan the current page for
                videos to attach tracks to. Once you associate a video to a
                track, clicking the extension button will automatically
                initialize your track.
              </div>
            </article>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article
              class="tile is-child notification is-info"
              [routerLink]="['/permissions']"
            >
              <p class="title">Setup Autoplay</p>
              <p class="subtitle">No button pressing needed!</p>
              <div class="content">
                If you provide us permission, we can immediately initialize your
                track whenever you visit those videos.
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-light">
              <p class="title">Write your own Tracks</p>
              <p class="subtitle">
                Use our built in devtools to annotate videos!
              </p>
              <div class="content">
                No more needless raw editing of text files, now you can add/edit
                annotations directly in your browser. <br /><br /><b
                  >(Coming Soon!)</b
                >
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article
              class="tile is-child notification is-warning new-feature"
              [routerLink]="['/remotes']"
            >
              <p class="title">Share with Followers <b>NEW!</b></p>
              <p class="subtitle">
                Broadcast you annotations to the world, or just your friends.
              </p>
              <div class="content">
                Send links that install the plugin and redirect to your
                annotated video. Send and recieve invites to automatically
                suggest plopdowns when followers arrive at videos you've
                annotated.
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
