<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <plopdown-site-nav></plopdown-site-nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half is-desktop">
          <video
            #exampleVideo
            class="is-block"
            width="100%"
            controls
            playsinline
            controlslist="nofullscreen"
            src="/assets/minnie_the_moocher.mp4"
          ></video>
        </div>

        <div class="column is-half is-desktop content">
          <h2 class="title">
            Plopdown
          </h2>

          <h3 class="subtitle">
            The Video Annotating Web Extension
          </h3>
          <p>
            Plopdown is an extension which allows you to annotate any web video.
            It been tested and works on
            <a href="https://www.youtube.com/" target="_blank" rel="noreferrer"
              >Youtube</a
            >,
            <a
              href="https://amazon.com/primevideo"
              target="_blank"
              rel="noreferrer"
              >Amazon Video</a
            >,
            <a
              href="https://www.netflix.com/browse"
              target="_blank"
              rel="noreferrer"
              >Netflix</a
            >, and
            <a href="https://vimeo.com/" target="_blank" rel="noreferrer"
              >Vimeo</a
            >.
          </p>
          <p>
            After creating your annotations, you can download and distribute
            them to friends and followers by sending them a file or generating a
            <code>plopdown://</code>
            URL.
          </p>
          <p *ngIf="overlayComponent$ | async as component">
            <span class="buttons">
              <button
                class="button is-success is-medium"
                (click)="initTrack()"
                *ngIf="component.hostView.destroyed"
              >
                Reattach Example
              </button>
              <a
                class="button is-primary is-medium"
                target="_blank"
                href="https://addons.mozilla.org/en-US/firefox/addon/plopdown-video/"
              >
                + Add Plopdown for Firefox
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <plopdown-site-footer></plopdown-site-footer>
</section>
