<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img
              width="30"
              height="30"
              src="/assets/plopdown-logo.svg"
              alt="Plopdown"
            />&nbsp;&nbsp;
            <h1 class="title is-4">Plopdown</h1>
          </a>
          <a class="navbar-item">
            <iframe
              sandbox="allow-popups allow-scripts"
              src="https://ghbtns.com/github-btn.html?user=spaceribs&repo=plopdown&type=star&count=true&size=large"
              frameborder="0"
              scrolling="0"
              width="160px"
              height="30px"
            ></iframe>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half is-desktop">
          <video
            #exampleVideo
            class="is-block"
            width="100%"
            controls
            playsinline
            controlslist="nofullscreen"
            src="/assets/minnie_the_moocher.mp4"
          ></video>
        </div>

        <div class="column is-half is-desktop">
          <h2 class="title">
            Plopdown
          </h2>

          <h3 class="subtitle">
            The Video Annotating Web Extension
          </h3>
          <p>
            Plopdown is an extension which allows you to annotate any web video.
            It been tested and works on
            <a href="https://www.youtube.com/" target="_blank" rel="noreferrer"
              >Youtube</a
            >,
            <a
              href="https://amazon.com/primevideo"
              target="_blank"
              rel="noreferrer"
              >Amazon Video</a
            >,
            <a
              href="https://www.netflix.com/browse"
              target="_blank"
              rel="noreferrer"
              >Netflix</a
            >, and
            <a href="https://vimeo.com/" target="_blank" rel="noreferrer"
              >Vimeo</a
            >.
          </p>
          <p>
            After creating your annotations, you can download and distribute
            them to friends and followers by sending them a file or generating a
            <code>plopdown://</code>
            URL.
          </p>
          <p>
            It's currently in development and the alpha should be available
            soon! In the meantime you can try it out by playing the video.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="info-footer has-text-centered">
    <p>
      <a href="http://madewithloveinbaltimore.org">
        Made with &hearts; in Baltimore
      </a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://keybase.io/spaceribs">
        Spaceribs &copy;{{ currentDate | date: 'y' }}
      </a>
    </p>
  </div>
</section>
