<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img
              width="30"
              height="30"
              src="/assets/plopdown-logo.svg"
              alt="Plopdown"
            />&nbsp;&nbsp;
            <h1 class="title is-4">Plopdown</h1>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title">
        Plopdown - Coming Soon!
      </h2>
      <h3 class="subtitle">
        Plopdown is an extension which allows you to annotate any web video. It
        been tested and works on
        <a href="https://www.youtube.com/" target="_blank" rel="noreferrer"
          >Youtube</a
        >,
        <a href="https://amazon.com/primevideo" target="_blank" rel="noreferrer"
          >Amazon Video</a
        >,
        <a
          href="https://www.netflix.com/browse"
          target="_blank"
          rel="noreferrer"
          >Netflix</a
        >, and
        <a href="https://vimeo.com/" target="_blank" rel="noreferrer">Vimeo</a>.
        <br />
        After creating your annotations, you can download and distribute them to
        friends and followers by sending them a file or generating a
        <code>plopdown://</code>
        URL.
        <br /><br />
        It's currently in development and the alpha should be available soon!
      </h3>
    </div>
  </div>
</section>
