<div
  class="pd-menu"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="pd-menu-container">
    <ul class="pd-menu-list" *ngIf="slideoutShown">
      <li class="pd-menu-item">
        <a href="#" (click)="onCreatePlopdown($event)">
          <plopdown-icon [path]="mdiTooltipPlus"></plopdown-icon>
        </a>
      </li>
      <li class="pd-menu-item">
        <a
          href="#"
          [ngClass]="{ 'pd-menu-item-active': editing }"
          (click)="onToggleEdit($event)"
        >
          <plopdown-icon [path]="mdiTooltipEdit"></plopdown-icon>
        </a>
      </li>
      <li class="pd-menu-item" *ngIf="tracks > 0">
        <a href="#" (click)="onRemovePlopdown($event)">
          <plopdown-icon [path]="mdiClose"></plopdown-icon>
        </a>
      </li>
    </ul>
  </div>
  <span class="logo-container">
    <img [src]="plopdownLogo" />
  </span>
</div>
