@if (tracks$ | async; as tracks) {
<section class="panel">
  <div class="panel-block">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th class="has-text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (tracks.length < 1) {
        <tr>
          <td class="has-text-centered" colspan="2">
            <p>No Tracks Added</p>
          </td>
        </tr>
        } @for (track of tracks; track track) {
        <tr>
          <td>{{ track.title }}</td>
          <td class="has-text-right">
            <a (click)="onRemoveTrack(track)">
              <span class="icon">
                <i class="mdi mdi-trash-can-outline"></i>
              </span>
            </a>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="panel-block">
    <a
      href="#"
      class="button is-fullwidth"
      (click)="openExtensionsPage('/options/index.html#/tracks')"
    >
      Add/Edit Tracks
    </a>
  </div>
</section>
}
