<section class="panel" *ngIf="tracks$ | async as tracks">
  <div class="panel-block">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th class="has-text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="tracks.length < 1">
          <td class="has-text-centered" colspan="2">
            <p>No Tracks Added</p>
          </td>
        </tr>
        <tr *ngFor="let track of tracks">
          <td>{{ track.title }}</td>
          <td class="has-text-right">
            <a (click)="onRemoveTrack(track)">
              <span class="icon">
                <i class="mdi mdi-trash-can-outline"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-block">
    <a
      href="#"
      class="button is-fullwidth"
      (click)="openExtensionsPage('/options.html/#/tracks')"
    >
      Add/Edit Tracks
    </a>
  </div>
</section>
