<plopdown-site-nav></plopdown-site-nav>
<div class="container">
  <section class="hero is-dark has-text-centered">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Plopdown Dev Blog</h1>
        <h2 class="subtitle">Any releases and announcements for Plopdown</h2>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column is-three-quarters">
      <router-outlet></router-outlet>
    </div>
    <div class="column">
      <aside class="menu">
        @for (dateArchive of dateArchives; track dateArchive) {
        <p class="menu-label">
          {{ dateArchive.date | date : 'MMMM - y' }}
        </p>
        <ul class="menu-list">
          @for (post of dateArchive.posts; track post) {
          <li>
            <a
              routerLinkActive="is-active"
              [routerLink]="
                $safeNavigationMigration(post.data?.attributes.slug)
              "
              >{{ post.data?.attributes.title }}</a
            >
          </li>
          }
        </ul>
        }
      </aside>
    </div>
  </div>
</div>
<plopdown-site-footer></plopdown-site-footer>
