<div class="modal is-active">
  <div class="modal-background" (click)="onCancel()"></div>
  <form class="modal-card" [formGroup]="videoRefForm" (submit)="onSave($event)">
    <header class="modal-card-head">
      <p class="modal-card-title">Video Ref Editor</p>
    </header>
    <section class="modal-card-body">
      <div class="section">
        <fieldset>
          @if (videoRefForm.controls.title; as control) {
          <div class="field">
            <label class="label">Video Title</label>
            <div class="control">
              <input
                formControlName="title"
                class="input"
                [ngClass]="{
                  'is-danger': control.invalid
                }"
                type="text"
                placeholder="The Shining"
              />
            </div>
            @if (control.invalid) {
            <p class="help is-danger">
              Please title the video you'd like to track.
            </p>
            }
          </div>
          } @if (videoRefForm.controls.frameTitle; as control) {
          <div class="field">
            <label class="label">Website Title</label>
            <div class="control">
              <input
                formControlName="frameTitle"
                class="input"
                [ngClass]="{
                  'is-danger': control.invalid
                }"
                type="text"
                placeholder="Netflix - The Shining"
              />
            </div>
          </div>
          }
        </fieldset>

        <hr />

        <fieldset>
          <label class="label">URL Matcher</label>
          <div class="field has-addons">
            @if (videoRefForm.controls.frameOrigin; as control) {
            <div class="control">
              <input
                formControlName="frameOrigin"
                class="input"
                [ngClass]="{
                  'is-danger': control.invalid
                }"
                type="url"
                placeholder="https://example.com"
              />
            </div>
            } @if (videoRefForm.controls.framePath; as control) {
            <div class="control">
              <input
                formControlName="framePath"
                [ngClass]="{
                  'is-danger': control.invalid
                }"
                class="input"
                type="text"
                placeholder="/example/path"
              />
            </div>
            } @if (videoRefForm.controls.frameSearch; as control) {
            <div class="control">
              <input
                formControlName="frameSearch"
                [ngClass]="{
                  'is-danger': control.invalid
                }"
                class="input"
                type="text"
                placeholder="?example=true"
              />
            </div>
            }
          </div>
          @if (videoRefForm.controls.frameOrigin.invalid) {
          <p class="help is-danger">
            At minimum, a website origin is required.
          </p>
          } @if (videoRefForm.controls.xpath; as control) {
          <div class="field">
            <label class="label">XPath Matcher</label>
            <div class="control">
              <input
                formControlName="xpath"
                class="input"
                [ngClass]="{
                  'is-danger': control.invalid
                }"
                type="text"
                placeholder="/HTML/BODY/VIDEO[0]"
              />
            </div>
            @if (control.invalid) {
            <p class="help is-danger">This is not a valid XPath.</p>
            }
          </div>
          } @if (videoRefForm.controls.duration; as control) {
          <div class="field">
            <label class="label">Duration Matcher (In Seconds)</label>
            <div class="control">
              <input
                formControlName="duration"
                class="input"
                [ngClass]="{
                  'is-danger': control.invalid
                }"
                type="number"
                placeholder="30"
                min="1"
              />
            </div>
            @if (control.invalid) {
            <p class="help is-danger">
              Duration should be at least 1 second long
            </p>
            }
          </div>
          }
        </fieldset>
      </div>
    </section>
    <footer class="modal-card-foot buttons is-right">
      <button type="button" class="button" (click)="onCancel()">Cancel</button>
      <button
        type="submit"
        [disabled]="videoRefForm.invalid"
        class="button is-primary is-pulled-right"
      >
        {{ videoRefForm.value['_id'] ? 'Save Changes' : 'Add Video Reference' }}
      </button>
    </footer>
  </form>
</div>
