<div>
  <div class="tabs is-marginless">
    <ul>
      <li class="is-active"><a>Detect</a></li>
      <li><a>Videos</a></li>
    </ul>
  </div>
  <div>
    <!-- <b-loading :is-full-page="false" :active.sync="loading"></b-loading> -->
    <div *ngIf="!loading" class="video-selector">
      <section *ngIf="tracks.length < 1" class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">No Tracks Found</h1>
            <h2 class="subtitle">
              Create or add a track to associate with a video.
            </h2>
            <button
              class="button is-primary"
              inverted
              outlined
              (click)="openExtensionsPage('/options.html#/tracks')"
              expanded
              icon-left="plus"
            >
              Add Tracks
            </button>
          </div>
        </div>
      </section>
      <section *ngIf="foundVideos.length < 1" class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">No Videos Found</h1>
            <h2 class="subtitle">Go to a page that contains a video.</h2>
            <button
              class="button is-primary"
              inverted
              outlined
              (click)="queryVideos()"
              expanded
            >
              Refresh
            </button>
          </div>
        </div>
      </section>
      <section class="hero is-success">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              {{ foundVideos.length }}
              {{ foundVideos.length === 1 ? 'Video' : 'Videos' }} Found
            </h1>
            <h2 class="subtitle">Initialized Plopdowns Successfully</h2>
            <div class="buttons">
              <button
                class="button is-success"
                expanded
                inverted
                outlined
                (click)="queryVideos()"
              >
                Refresh
              </button>
            </div>
            <div class="field">
              <select
                class="select is-success"
                expanded
                outlined
                ([ngModel])="(selectedVideo)"
                placeholder="Select Video..."
              >
                <option
                  *ngFor="let foundVideo of foundVideos"
                  [value]="foundVideo"
                  >{{ getVideoTitle(foundVideo) }}</option
                >
              </select>
            </div>
            <div class="field" *ngIf="selectedVideo">
              <div class="select">
                <select
                  (input)="onSelectTrack()"
                  class="select is-success"
                  expanded
                  outlined
                  ([ngModel])="(selectedTrack)"
                  placeholder="Select Track..."
                >
                  <option
                    *ngFor="let track of tracks; trackBy: track.id"
                    [value]="track"
                    >{{ track.title }}</option
                  >
                </select>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div label="Videos">
    <section class="content" *ngIf="videoRefs.length > 0">
      <div class="card" *ngFor="let videoRef of videoRefs">
        <div slot="trigger" class="card-header" role="button">
          <div class="card-header-title">{{ getVideoTitle(videoRef.ref) }}</div>
          <a (click)="onRemoveVideo(videoRef)" class="card-header-icon">
            <span class="icon">
              <i class="mdi mdi-trash-can-outline"></i>
            </span>
          </a>
        </div>
      </div>
    </section>
    <a
      href="#"
      class="button is-expanded"
      (click)="openExtensionsPage('/options.html#/videos')"
      >Manage Videos</a
    >
  </div>
</div>
