<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://plopdown.video" target="_blank">
        <img
          width="30"
          height="30"
          src="assets/plopdown-logo.svg"
          alt="Plopdown"
        />&nbsp;&nbsp;
        <h1 class="title is-4 has-text-white">Plopdown</h1>
      </a>
      <a class="navbar-item" href="https://plopdown.video" target="_blank">
        Website
      </a>
      <a
        class="navbar-item"
        href="https://github.com/spaceribs/plopdown"
        target="_blank"
      >
        Github
      </a>
      <span class="navbar-burger burger" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div class="navbar-menu" [ngClass]="{ 'is-active': showMenu }">
      <div class="navbar-end">
        <a
          [routerLink]="['home']"
          routerLinkActive="is-active"
          class="navbar-item"
        >
          <span>Setup</span>
        </a>
        <a
          [routerLink]="['videos']"
          routerLinkActive="is-active"
          class="navbar-item"
        >
          <span>Videos</span>
        </a>
        <a
          [routerLink]="['tracks']"
          routerLinkActive="is-active"
          class="navbar-item"
        >
          <span>Tracks</span>
        </a>
        <a
          *ngIf="false"
          [routerLink]="['settings']"
          routerLinkActive="is-active"
          class="navbar-item"
        >
          <span>Settings</span>
        </a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<section class="section">
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="http://madewithloveinbaltimore.org">
          Made with &hearts; in Baltimore
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://keybase.io/spaceribs">
          Spaceribs &copy;{{ currentDate | date: 'y' }}
        </a>
      </p>
    </div>
  </footer>
</section>
