@if (permissions$ | async; as permissions) {
<section class="panel">
  <div class="panel-block">
    @if (loadingPermissions$ | async; as loading) {
    <div class="loading">Loading...</div>
    } @else {
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th class="has-text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (permissions.length < 1) {
        <tr>
          <td class="has-text-centered" colspan="2">
            <p>No Permissions Initialized</p>
          </td>
        </tr>
        } @for (permission of permissions; track permission) {
        <tr>
          <td>
            <strong>{{ permission.name }}</strong>
          </td>
          <td class="has-text-right">
            @if (permission.in_whitelist) {
            <button
              (click)="unAuthPermission(permission)"
              title="Unauthorize"
              class="button is-outlined is-dark is-small"
            >
              Revoke
            </button>
            } @if (!permission.in_whitelist) {
            <button
              (click)="authPermission(permission)"
              title="Authorize"
              class="button is-success is-small"
            >
              Authorize
            </button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
  <div class="panel-block">
    <a
      href="#"
      class="button is-fullwidth"
      (click)="openExtensionsPage('/options/index.html#/permissions')"
    >
      Manage Permissions
    </a>
  </div>
</section>
}
