.scan-status {
  position: relative;
  overflow: hidden;
  background: #333;
  height: 450px;
  .toggle-plopdown {
    background: #666;
    color: #fff;
    height: 50px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  plopdown-icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    color: lightgreen;
  }
  .hero {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .hero-body {
      flex: 0 0 auto;
      .select {
        display: block;
        select {
          width: 100%;
        }
      }
    }
  }
}
